@model IEnumerable<Cinema.Models.Sessao>

@{
    ViewData["Title"] = "Sessão";
}

<h1>Sessão</h1>

<p>
    <a asp-action="Create"class="btn btn-outline-warning">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SessaoNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDublado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLegendado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessaoNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.SalaNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filme.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDublado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLegendado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SessaoId"><img src="~/img/edit.png" width="30"/></a> |
                <a asp-action="Details" asp-route-id="@item.SessaoId"><img src="~/img/detalhes.png" width="30"/></a> |
                <a asp-action="Delete" asp-route-id="@item.SessaoId"><img src="~/img/delete.png" width="30"/></a>
            </td>
        </tr>
}
    </tbody>
</table>
